#map-canvas(ng-controller='mvDonorHeatMapCtrl')

    //map(zoom='5', center='54.75577249622124, -127.82632013134764',default-style='false')
        fusion-tables-layer(query="{ select: 'col1',from: '1SrXwpE80AEmxngiFSKt9CFgwluhnQreIdbTdOG0Y'}",
        set-style="{where: '\'Total Deliveries\' = 0',polygonOptions: {fillColor: '#FFFFFF'}}", fusion-tables-layer='')