<div ng-controller="mvSchoolDistCtrl"><!--#panelbutton(ng-click='toggleHeatmap()') Toggle Heatmap
button(ng-click='changeGradient()') Change gradient
button(ng-click='changeRadius()') Change radius
button(ng-click='changeOpacity()') Change opacity
--><!--map(zoom='13', center='13864 89A Avenue Surrey BC', map-type-id='SATELLITE',default-style='false')//heatmap-layer#foo(data='taxiData')
--><!--map(center='42, -99', zoom='5',default-style='false')maps-engine-layer(clickable='true', suppress-info-windows='false', layer-id='10446176163891957399-12677872887550376890')
maps-engine-layer(layer-id='10446176163891957399-01658747114625264102')
--><map zoom="12" center="Vancouver,BC" default-style="false"><marker position="Vancouver,BC"></marker><!--fusion-tables-layer(query="{\--><!--select: 'Location',\--><!--from: '1ge8M5YuImKA08nzCrKsAZH9wjnF-FLnwpVfUGv5M'}")--></map><!--map(zoom='10', center='Surrey BC',default-style='false')fusion-tables-layer(query="{ select: 'Address',\
from: '1tYK2r_O2CznRztyUwtjQWBew_fquTrLnHUic0i8r'}", ,='', heatmap='{enabled: true}', <='', fusion-tables-layer='')--></div>