//div(ng-controller=mvSchoolNotReachedCtrl)
    //button(ng-click='initmap()')|Click m
    //#panel
        button(ng-click='toggleHeatmap()') Toggle Heatmap
        button(ng-click='changeGradient()') Change gradient
        button(ng-click='changeRadius()') Change radius
        button(ng-click='changeOpacity()') Change opacity

    //map(zoom='6', center='56.793568, -121.652601',default-style='false')
        fusion-tables-layer(query="{ select: 'geometry',from: '1SrXwpE80AEmxngiFSKt9CFgwluhnQreIdbTdOG0Y'}", style-id="2", fusion-tables-layer='')
        //fusion-tables-layer(query="{ select: 'School',from: '1pNQX8OMgrj_-s0dKZwFgIRlZt_5E5Eu-v7jTiWUA'}", ,='', heatmap='{enabled: false}', <='', fusion-tables-layer='')
        fusion-tables-layer(query="{ select: 'Unreached',from: '1Yg_lfkIgT0RgQhqqb9nQpTJNTqlTg-vW7Gkyb1Ms'}",styles="{where: '',markerOptions:{iconName:'small_purple'}}")
    //map(zoom='5', center='54.75577249622124, -127.82632013134764',default-style='false')
        //fusion-tables-layer(query="{ select: 'School',from: '1Lm5hly6PuboLFDyCu6s3AQIG5_cLYd3QQTrsRcyV'})
    //map(zoom='13', center='13864 89A Avenue Surrey BC', map-type-id='SATELLITE',default-style='false')
        //heatmap-layer#foo(data='taxiData')

    //map(center='42, -99', zoom='5',default-style='false')
        maps-engine-layer(clickable='true', suppress-info-windows='false', layer-id='10446176163891957399-12677872887550376890')
        maps-engine-layer(layer-id='10446176163891957399-01658747114625264102')

    //map(zoom='12', center='Vancouver,BC',default-style='false')
        marker(position='Vancouver,BC')

        //fusion-tables-layer(query="{\
        //select: 'Location',\
        //from: '1ge8M5YuImKA08nzCrKsAZH9wjnF-FLnwpVfUGv5M'}")

    //map(zoom='10', center='Surrey BC',default-style='false')
        fusion-tables-layer(query="{ select: 'Address',\
        from: '1tYK2r_O2CznRztyUwtjQWBew_fquTrLnHUic0i8r'}", ,='', heatmap='{enabled: true}', <='', fusion-tables-layer='')

