ul.nav.list-group
    li
        a.list-group-item(href='/')
            i.icon-home.icon-1x
            | Schools Reached
    li
        a.list-group-item(href='/SchoolNotReached')
            i.icon-home.icon-1x
            | Schools Not Reached
    li
        a.list-group-item(href='/School2015')
            i.icon-home.icon-1x
            | Schools HeatMap
    li
        a.list-group-item(href='/DistrictMap')
            i.icon-home.icon-1x
            | District Map
    li
        a.list-group-item(href='/DonorHeatMap')
            i.icon-home.icon-1x
            | Donor Heat Map
