extends ../includes/layout
include ../includes/plain.html
//block main-content
    //section.content
        //button.btn.btn-info(type='button') Default
    //#wrapper(ng-view)

    //footer.container.text-center
        p &copy; 2013 Team International Ltd.